<h2 class="text-center my-5">Mitarbeiter</h2>
<div class="card">

    <div class="card-header">
        <h4>Übersicht</h4>
    </div>

    <div  class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Vorname</th>
                    <th>Nachname</th>
                    <th>Telefonnummer</th>
                    <th>E-mail</th>
                    <th>Position</th>
                    <th>Aktionen</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees">
                    <td>{{employee.id}}</td>
                    <td>{{employee.firstName}}</td>
                    <td>{{employee.lastName}}</td>
                    <td>{{employee.phone}}</td>
                    <td>{{employee.email}}</td>
                    <td>{{employee.position}}</td>
                    <td>
                        <button class="btn btn-primary btn-sm m-2" (click)="editEmployee(employee.id)">Bearbeiten</button>
                        <button class="btn btn-danger btn-sm" (click)="deleteEmployee(employee.id)">Löschen</button>
                    </td>
                </tr>
            </tbody>
        </table>  
    </div>
</div>

